
<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">What's Cookin'</h1>
        <p class="lead text-muted">Look up recipes, and save your faveorites here. You can search by ingredients
            you wish to cook with to see suggested recipes using those ingredients. If you're having trouble
            coming up with with what to search for, or if you need inspiration select a verified chef to see their
            top recomendations!<br>
            <br>
            Create a profile to begin saving your favorite recipes here!
        </p>

    </div>
</section>

<app-todays-specials></app-todays-specials>

