
<section class="search-results main-content">
  <!-- <div class="grid-container" *ngFor="let r of response">
    <div id="recipeDiv" class="container">
      <section class="search-results main-content">
            <div class="grid-item recipe-title">
              <a href={{r.source_url}}>{{r.title}}</a>
            </div>
            <div class="grid-item recipe-publisher">
              <a href={{r.publisher_url}}>-{{r.publisher}}</a>
            </div>
            <div class="grid-item recipe-image">
              <img src={{r.image_url}}/>
            </div>
            <div class="grid-item save">
              <button (click)="saveRecipe(r)" [@saveToFavorites]="isSaved ? 'saved' : 'unsaved'">Save</button>
              <a (click)="toggle()" [@saveToFavorites]="isSaved ? 'saved' : 'unsaved'" ></a>
            </div>
      </section>
    </div>
  </div> -->
  <div id="recipeDiv">
        <div class="gallery"*ngFor="let r of recipes">
          <div class="grid-item recipe-image">
              <img src={{r.JSON.image_url}} />
          </div>
          <div class="desc">
            <div>
              <a href={{r.JSON.source_url}}>{{r.JSON.title}}</a>
            </div>
            <div>
              <a href={{r.JSON.publisher_url}}>Publisher: {{r.JSON.publisher}}</a>
            </div>
            <div class="grid-item save">
              <button [hidden]=r.saved id ="button" class="btn btn-primary" (click)="saveRecipe(r.JSON)">Save</button>
            </div>
          </div>
        </div>
      
    </div>
</section>
