<section class="search-results main-content">
  <div id="recipeDiv" class="container">
    <div class="grid-container" *ngFor="let r of recipeChefs; index as i">
      <div class="grid-item index">{{i+1}}.</div>
      <div class="grid-item recipe-title">
        <a href={{r.title}}>{{r.title}}</a>
      </div>
      <div class="grid-item recipe-publisher">
        <a href={{r.publisher_url}}>-{{r.publisher}}</a>
      </div>
      <div class="grid-item recipe-image">
        <img src={{r.image_url}} />
      </div>
      <div class="grid-item save">
        <button (click)="saveRecipe(r)">Save</button>
      </div>
    </div>
  </div>
</section>
